body {
  margin: 0;
  font-family: 'Fredoka One', cursive;  font-size: 20px;
  line-height: 1.5;
  background-color: #ffdddd;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1 {
  margin-left: 10px;
}

.bayan {
  max-width: 820px;
  padding: 0 5px;
  margin: 0 auto;
  color: #000000;
  transition: color .2s ease-out;
  overflow-x:hidden;
}

.bayan__item {
  margin-left: 5px;
}

.bayan__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.bayan__icon {
  min-width: 30px;
  min-height: 30px;
  transform: rotate(45deg);
  margin-right: 10px;
  fill: #000000;
  transition: .5s;
}

.bayan__input {
  display: block;
  width: 0;
  height: 0;
  appearance: none;
  margin: 0;
  padding: 0;
}

.bayan__content {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: all 1.5s;
}

.bayan__input:checked ~ .bayan__content {
  display: flex;
}

.bayan__input:checked ~ .bayan__content {
  max-height: 440px;
  transition: all 1s;
}

.bayan__input:checked + .bayan__title .bayan__icon {
  transform: rotate(90deg);
}
